/* shared style */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.primary-btn {
    background: linear-gradient(90deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1) 51%, rgba(145, 0, 248, 1));
    height: 44px;
    padding: 12px 16px;
    border-radius: 30px;
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: 600px;
    text-align: center;
}

.section-description {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.816);

}

body {
    background-color: rgba(26, 11, 46, 1);
}

.width,
.about-section {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    max-width: 1600px;
}

.display-flex {
    display: flex;
}

/* main style */

.navbar {
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 5px;
}

.gradient {
    background: linear-gradient(90deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1) 51%, rgba(145, 0, 248, 1));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.white {
    color: white;
}

.nav-links {
    list-style-type: none;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    line-height: 120%;
    margin-right: 32px;
}


.line {
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg,
            #343434);
}

/* banner section style */

.banner {
    height: 760px;
    background-image: url(../assets/microphone.png), url(../assets/hero-circle.png), url(../assets/hero-bg.png);
    background-position: center 180px, center 115px, center center;
    background-size: 9%, 22%, 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image {
    visibility: collapse;
    margin-bottom: 170px;
}

.section-content {
    max-width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-heading {
    font-size: 3.75rem;
    font-weight: 800;
    color: white;
    margin-bottom: 8px;
}

.section-description {
    margin-bottom: 24px;
}

.secondary-btn {
    margin-left: 8px;
    color: #00FF88;
    font-size: 1rem;
    font-weight: 600;
    background-color: transparent;
    border: 1px solid #00FF88;
    padding: 12px 20px;
    border-radius: 30px;
}

/* About Section */

.about-content {
    margin-top: 50px;
    margin-bottom: 80px;
    text-align: center;
}

.about-heading,
.feature-heading,
.host-heading {
    font-size: 3rem;
    font-weight: bold;
    color: white;
    margin-bottom: 16px;
}

.line-1 {
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Rank section  */

.rank {
    display: flex;
    justify-content: space-around;
    margin-bottom: 120px;
}

.rank-header,
.fa-star {
    font-size: 3rem;
    font-weight: bold;
    color: #00FF88;
}

.fa-star {
    position: absolute;
    font-size: 2rem;
    margin-top: 12px;
}

.rank-description {
    color: white;
    font-size: 1rem;
    line-height: 20px;
}

/* Tech-wave section */


.tech-wave {
    margin-top: 120px;
    background-color: rgba(35, 14, 61, 1);
    padding: 120px 200px;
}

.card-continer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "audio mobile mobile"
        "audio global global"
        "exclusive exclusive rich"
    ;
    gap: 30px;
}

.tech-heading {
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}

.tech-card{
    padding: 40px;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 20px;
}

.tech-card img{
    width: 60px;
}

.Audio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: audio;
}

.Mobile {
    grid-area: mobile;
}

.Mobile img{
    width: 50px;
}

.Global {
    grid-area: global;
}

.Exclusive {
    grid-area: exclusive;
}

.Rich {
    grid-area: rich;
}

.tech-card img{
    margin-bottom: 16px;
}

.card-heading,
.card-title{
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    margin-bottom: 16px;
}

.card-description{
    font-size: 1rem;
    line-height: 24px;
    color: white;
}

/* feature section style */

.feature-heading{
    margin-top: 120px;
    text-align: center;
    margin-bottom: 40px;
}

.card{
    margin-bottom: 120px;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 30px;
}

.feature-card{
    background-color: rgba(37, 13, 68, 1);
    border-radius: 15px;
}

.feature-card iframe{
    border-radius: 15px 15px 0 0 ;
}

.card-content{
    padding: 24px;
}

.time{
    margin-top: 12px;
    color: #00FF88;
    font-size: 1rem;
    font-weight: 600;
    line-height: 26px;
}

/* Host section style */

.host{
    margin-bottom: 120px;
}

.host-heading{
    text-align: center;
    margin-bottom: 40px;
}

.host-card{
    border-radius: 25px;
    background-color: rgba(53, 17, 101, 0.4);
    padding: 40px;
    gap: 24px;
}

.card-container{
    flex-direction: column;
    justify-content: center;
}

.p{
    margin-bottom: 16px;
}

.button{
    display: flex;
    align-items: center;
    gap: 10px;
}

.button img{
    border: 1px solid rgba(109, 109, 109, 0.621);
    padding: 8px;
    border-radius: 20px;
}

/* Footer section style */

footer{
    background: url(../assets/footer-bg.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 120px;
    text-align: center;
}
.link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.link i{
    color: white;
}

.link p{
    color: white;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 32px;
}

.copy-right{
    color: white;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
}
